-
	data =
		{
			"resources": {
				"pages": {
					"en":[
						{
							"url":"/posts/en/rentals",
							"title":"RENTAL APARTMENT",
							"thumbnail":"/img/building_house2.png",
							"description":"Listing broking rental apartment or my company's own."
						},
						{
							"url":"/posts/en/sales",
							"title":"SALE HOUSE",
							"thumbnail":"/img/building_house3.png",
							"description":"Listing broking sale apartment or my company's own."
						},
						{
							"url":"/posts/en/pages/about.html",
							"title":"ABOUT",
							"thumbnail":"/img/business_icon_big_company.png",
							"description":"Describing location of company or telephone number and mail etc."
						}
					],
					"ja":[
						{
							"url":"/posts/ja/rentals",
							"title":"賃貸アパート",
							"thumbnail":"/img/building_house2.png",
							"description":"当社が貸主の物件や仲介物件を見ることができます"
						},
						{
							"url":"/posts/ja/sales",
							"title":"売買",
							"thumbnail":"/img/building_house3.png",
							"description":"当社が売主や仲介の物件を見ることができます"
						},
						{
							"url":"/posts/ja/pages/about.html",
							"title":"会社案内",
							"thumbnail":"/img/business_icon_big_company.png",
							"description":"会社の所在地や問い合わせ先を記載しています"
						}
					]
				},
				"company_info": {
					"en": {
						"name": "COWCOWHOMES.CO.LTD",
						"tel": "03-6458-1098",
						"fax_tel": "03-6458-1150",
						"mobile" : "090-8432-6216",
						"opentime": "open time 11AM to 6PM",
						"athome_url": "http://www.athome.co.jp/ahto/cowcowhomes.html",
						"mail": "daisaku@cowcowhomes.com",
						"lineid" : "daichan19740626"
					},
					"ja": {
						"name": "有限会社 カウカウホームズ",
						"tel": "03-6458-1098",
						"fax_tel": "03-6458-1150",
						"mobile" : "090-8432-6216",
						"opentime": "営業時間 11時から18時",
						"athome_url": "http://www.athome.co.jp/ahto/cowcowhomes.html",
						"mail": "daisaku@cowcowhomes.com",
						"lineid" : "daichan19740626"
					}
				},
				"allow_jump_category":{
					"ja":{
						"sharehouses": "民泊・シェアハウス",
						"accommodations": "民泊・シェアハウス",
						"rentals": "賃貸",
					},
					"en":{
						"sharehouses": "AC&PG",
						"accommodations": "AC&PG",
						"rentals": "RENTAL",
					},
					"zh":{
						"sharehouses": "民泊",
						"accommodations": "民泊",
						"rentals": "賃貸",
					},
				},
				"area": {
					"en": {
						"akihabara": "Akihabara",
						"ikebukuro": "Ikebukuro",
						"shinzyuku": "Shinzyuku",
						"sibuya": "Sibuya",
						"tokyo": "Tokyo",
						"ueno": "Ueno",
						"akahane": "Akahane",
						"ginza": "Ginza",
						"oomiya": "Oomiya",
						"narita": "Narita",
						"hatiouzi": "Hatiouzi",
						"yokohama": "Yokohama"
						},
					"ja": {
						"akihabara": "秋葉原",
						"ikebukuro": "池袋",
						"shinzyuku": "新宿",
						"sibuya": "渋谷",
						"tokyo": "東京",
						"ueno": "上野",
						"akahane": "赤羽",
						"ginza": "銀座",
						"oomiya": "大宮",
						"narita": "成田",
						"hatiouzi": "八王子",
						"yokohama": "横浜"
					},
					"zh": {
						"akihabara": "秋叶原",
						"ikebukuro": "池袋",
						"shinzyuku": "新宿",
						"sibuya": "涩谷",
						"tokyo": "东京",
						"ueno": "上野",
						"akahane": "赤羽",
						"ginza": "银座",
						"oomiya": "大宫",
						"narita": "成田",
						"hatiouzi": "八王子",
						"yokohama": "横浜"
					}
				}
			}
		}
-

mixin access_analyze
	script(src='//accaii.com/cowcowhomes/script.js', async='')
	noscript
		img(src='//accaii.com/cowcowhomes/script?guid=on')

mixin facebook-plugin
	#fb-root
	script(async='').
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.async = true;
		js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.10&appId=1757936567837729";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	.fb-page(data-href='https://www.facebook.com/有限会社カウカウホームズ-905600372815879/', data-tabs='timeline', data-small-header='true', data-adapt-container-width='true', data-hide-cover='true', data-show-facepile='false')
		blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/有限会社カウカウホームズ-905600372815879/')
			a(href='https://www.facebook.com/有限会社カウカウホームズ-905600372815879/') 有限会社カウカウホームズ

mixin gen_lang_switch(lang,label)
	- if(post == undefined)
		a(href='/#{lang}') #{label}
	- else
		- var tokens = post._url.split("/")
		- var url = ""
		- //0番目は常に空
		- for(var i = 1;i < tokens.length; i++)
			- url += "/"
			- if(i == 2)
				- url += lang
			- else if(tokens[i] != "index.html")	//index.htmlはなくても動く
				- url += tokens[i]
		a(href='#{url}') #{label}

mixin output_bread_list(post, lang)
	ul
		- for(var i = 0; i < post._categories.length; i++)
			- if(i == 0)
				li
					a(href='/') TOP
			- else if(i == 1 || post._categories[i] == "pages")	continue;
			- else if(post != undefined)
				- var url = "/" + post._categories.slice(0,i + 1).join('/')
				- var area_label= data.resources.area[lang][ post._categories[i] ]
				- var nav_label= data.resources.allow_jump_category[lang][ post._categories[i] ]
				- if( typeof(nav_label) == "undefined")
					li= area_label
				- else
					li
						a(href="#{url}")= nav_label

mixin rss-feed(lang)
	.rss-box(data-rss-url='https%3A%2F%2Fcowcowhomes.blogspot.com%2Ffeeds%2Fposts%2Fdefault%2F-%2F#{lang}%3Falt%3Drss')
		progress(max='100')
		ul.rss-items
			template
				li.rss-item
					img(src='/img/default.gif' data-src='' width="72" height="72")
					span
						b
							a(href='' onclick="")
						.description
		a.summary(href='') MORE APARTMENTS
	- if(lang=="ja")
		.rss-box(data-rss-url='https%3A%2F%2Fchintai.mynavi.jp%2Fsearch%2Flist.html%3Fc%255BCompanyId%255D%3D12783%26t%3Dcompany%26')
			progress(max='100')
			ul.rss-items
				template
					li.rss-item
						img(src='/img/default.gif' data-src='' width="72" height="72")
						span
							b
								a(href='' onclick="")
			a.summary(href='https://chintai.mynavi.jp/search/list.html?c%5BCompanyId%5D=12783&t=company&') マイナビ賃貸のほかの物件を見る(オーナーの意向により日本人限定の物件が多いです)
	- else
		.rss-box(data-rss-url='https%3A%2F%2Ftokyo.craigslist.org%2Fsearch%2Fhhh%3FavailabilityMode%3D0%26format%3Drss%26query%3Dcowcowhomes%2BLTD%26sort%3Ddate%26lang%3Den%26cc%3Dus')
			progress(max='100')
			ul.rss-items
				template
					li.rss-item
						img(src='/img/default.gif' data-src='' width="72" height="72")
						span
							b
								a(href='' onclick="")
							.description
			a.summary(href='') more apartment in craigslist tokyo
