#company_infomation
  #logo
    = data.resources.company_info.ja.name
  .address
    p.telphone= data.resources.company_info.ja.tel
    p
      a(href="mailto:#{data.resources.company_info.ja.mail}")= data.resources.company_info.ja.mail
    p= data.resources.company_info.ja.opentime
nav.global_nav
  .top_menu_label MENU
  ul.top_menu
    li
      a(href='/ja') TOP
    - for(var i = 0; i < data.resources.pages.ja.length; i++)
      - page = data.resources.pages.ja[i]
      li.dropdown-parent
        a(href='#{page.url}') #{page.title}
